@charset "utf-8";
/* CSS Document */
body{background-color:#01987F

}

table{
	margin: 0px;
	
	
}
button{
	background-color: aquamarine;
	font-family:sans "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size:2vw;
	width:20%;
	height:7.5%;
	text-align: center;
	border: 2px solid black;
	border-radius: 5px;
	
	
}
h1{
	font-family:sans-serif;
	font-size:32pt;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	color:white;
	
}
h2{
	font-family:sans-serif;
	font-size:20pt;
	text-align: center;
	margin-top:0;
	margin-bottom: 50px;
	color:lightgray;
	
}
h3{
	font-family:sans-serif;
	font-size:18pt;
	text-align: center;
	color:antiquewhite;
	text-decoration: underline;
	
}
p{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 40pt;
	text-align: center;
	color: beige;
	padding: 0;
	margin: 0;
	
}